.shareeList {
    width: 100%;
    line-height: 2em;
}

.shareeList, .nonList {
    padding: 0 20px;
    height: 100%;
}

.item {
    width: 100%;
}

.item > span {
    display: inline-block;
    width: 80%;
}

.removeItemButton {
    margin: 1em;
    background: none;
    border: none;
    color: red;
    text-align: right;
}