.form {
    display: flex;
    width: min(500px, 90%);
    flex-flow: column wrap;
    border: 1px solid orange;
    border-radius: 10px;
    align-items: top;
    padding: 1em;
    margin: 1em;
}

.form h1 {
    text-align: center;
}

.form fieldset {
    border-radius: 10px;
    margin-bottom: 3%;
}

.form fieldset input {
    border: none;
    outline: none;
}