.jottingList {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 2px double indianred;
    padding: 0;
    height: 350px;
    overflow-y: auto;
}

ul.jottingList > li {
    flex-basis: 50%;
}

ul.jottingList > li:hover {
    background-color: lightgray;
    cursor: pointer;
}