.main {
	display: grid;
	grid-template-rows: auto 100px repeat(2, 200px) 30px;
	grid-template-columns: 200px 3fr 200px repeat(3, 1fr) 1fr 2fr;
}

@media only screen and (max-width: 830px) {
	.main {
		grid-template-columns: 200px 3fr 200px 3fr; 
	}
}

@media only screen and (max-width: 600px) {
	.main {
		grid-template-columns: 200px 3fr auto;
	}
}

