.main {
	display: grid;
	grid-template-rows: auto auto auto auto auto;
	grid-template-columns: repeat(2, 200px 300px) 1fr 15%;
	margin-top: 10px;
}

.brandNameContainer {
	grid-row: 1;
	grid-column: 1;
}

.brandNameContainer > a {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	outline: none;
}

.brandNameContainer span {
	margin-left: 10px;
}

.ownNoteList {
	grid-column: 1 / 3;
}

.ownTaskList {
	grid-column: 3 / 5;
}

.ownNoteList, .ownTaskList {
	grid-row: 2 / 3;
	margin: 1em;
}

.accountBanner {
	grid-row: 1 / 3;
	grid-column-end: 7;
	align-self: stretch;
	margin-left: 10px;
}

.accountProfile {
	padding: 0.5em;
}

.accountProfile > span {
	margin-left: 10px;
}

ul.accountMenu {
	padding: 0.5em;
	margin-top: 0;
	padding-inline: 0;
	border: 1px solid indianred;
}

.accountMenu li {
	list-style-type: none;
	padding: 1em 10px;
}

.accountMenu li:hover {
	background-color: lightgrey;
}

.accountMenu > li > *, .accountProfile {
	display: inline-block;
	width: 100%;
	border: none;
	background: none;
	outline: none;
	font-size: 1rem;
	font-family: 'Segoe UI';
	text-align: center;
}

.dropdownArrow {
	margin-left: 5px;
}

.fullJotting {
	grid-row: 2 / -2;
	grid-column: 2 / -2;
	justify-self: stretch;
}